<div class="small-10 small-centered columns "> 
  <h2>Formulario de Registro</h2>
</div>
<br/>
<br/>
<div class="small-8 small-centered columns "> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
<div class="small-12 columns">
      <div class="field">
        <%= f.label :Correo_Electronico %>
        <%= f.text_field :email %>
      </div>
    </div>
  <div class="small-12 columns">
      <div class="field">
        <%= f.label :Contraseña %><br>
        <%= f.text_field :password %>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="field">
        <label>Confirmar Contraseña</label>
        <br>
         <%= text_field_tag :Confirmar_Contraseña %>
      </div>
  
 
    </div>

     <div class="actions">
      <button name="commit" type="submit" value="registrarse">Registrar</button>
    </div>
</div>
<% end %>

