<div class="row">
  <h2>Contactos</h2>

  <div class="small-8 medium-centered columns">
  <div class="field">
    <label>Agregar compañeros</label>
    <%= text_field_tag :contact_name %>
    <button name="add" type="submit" value="Ingresar">Agregar</button>  
  </div>
<div class="field">
  <%= label_tag(:q, "Buscar") %>
  <%= text_field_tag(:q) %>

</div>
  <table class="table-custom">
      <thead>
        <tr class="titulo">
          <th><span>Nombre</span> </th>
          <th><span>Detalles</span></th>
          <th colspan="3"><span>Acciones</span></th>
        </tr>
      </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.contact_name %></td>
          <td>
         <% if contact.id %>
            <a href="#"  data-reveal-id="myModal">Ver detalles</a>              
            <div id="myModal" class="reveal-modal reveal-modal-custom" data-reveal>
              <div class="row">
                <section class="pop-head">
                  <label><%= Contact.find(contact.id).contact_name %></label>
                </section>
                <section class="pop-body">
                  <table class="table-custom">
                  <caption>Detalles</caption>
                    <thead>
                      <tr class="titulo">
                        <th><span>Proyecto</span> </th>
                        <th><span>Actividad</span></th>
                        <th><span>Estatus</span></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td><%= Project.find(contact.project_id).project_name%>
                             </td>
                        <td></td>
                        <td></td>
                        </tr>
                    </tbody>
                  </table>
                  <br/>
                  <br/>
                  <br/>
                  <button>Aceptar</button>
                </section>
                </div>
              </div>
          <% end %>
        </td>

          <td><%= link_to 'X', contact, method: :delete, data: { confirm: '¿Estas Seguro de realizar la siguiente operacion?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>



