<div class="row">
	<div class="small-12 large-centered columns">
		<h2>Detalles</h2>
	</div>
	<div class="small-6 columns">
		<p>
		  <strong>Nombre del Proyecto:</strong>
		  <%= @project.project_name %>
		</p>
	</div>
	<div class="small-6 columns">
		<p>
		  <strong>Nombre de la Empresa:</strong>
		  <%= @project.company %>
		</p>
	</div>
	<div class="small-12 columns">
		<p>
		  <strong>Descripcion:</strong>
		  <%= @project.description %>
		</p>
	</div>
	<div class="small-6 columns">
		<p>
		  <strong>Fecha de inicio:</strong>
		  <%= @project.dateStart %>
		</p>
	</div>
	<div class="small-6 columns">
		<p>
		  <strong>Fecha de termino:</strong>
		  <%= @project.dateEnd %>
		</p>
	</div>
</div>

<div class="row">
	<button class="fontButton">
		<%= link_to 'Edit', edit_project_path(@project) %>
	</button>
	<button class="fontButton">
		<%= link_to 'Back', projects_path %>
	</button>
</div>
