<p id="notice"><%= notice %></p>

<h2>Calendario</h2>
<div class="small-6 column calendario">
	<%= month_calendar do |date| %>
	<%= date %>
	<% end %>
</div>
<div class="small-6 column">
	<div class="small-12 column">
		<p>Filtros</p>
		<select name="post[category]">
			<option></option>
			<option>proyecto 1</option>
			<option>proyecto2</option>
		</select>
	</div>
	<div class="small-12 column">
		<%= check_box_tag(:to_do) %>
		<%= label_tag(:to_do, "Por hacer") %>
	</div>
	<div class="small-12 column">
		<%= check_box_tag(:doing) %>
		<%= label_tag(:doing, "Haciendo") %>
	</div>
	<div class="small-12 column">
		<%= check_box_tag(:done) %>
		<%= label_tag(:done, "Hechos") %>
	</div>
</div>
<br>


