<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="small-12 medium-centered columns">
    <div class="small-12 columns">
      <div class="field">
  <%= f.label :Proyecto_al_cual_agregara_la_actividad %><br>
   <%=  f.collection_select(:project_id, current_user.projects, :id, :project_name) %>
   </div>
   </div>
    <div class="small-12 columns">
      <div class="field">
        <%= f.label :Nombre_de_la_Actividad %><br>
        <%= f.text_field :activity_name %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :Fecha_de_inicio %><br>
        <%= f.date_field  :start_date %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="field">
        <%= f.label :Fecha_de_termino %><br>
        <%= f.date_field  :end_date %>
      </div>
    </div>
    <div class="small-12 columns">
      <div class="field">
        <%= f.label :Responsable %><br>

        <%= f.text_field :responsibles %>
      </div>
      <div id="grid_here" >
              </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="actions">
          <button name="commit" type="submit" >Crear Actividad</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
