<div class="row">
  <h2>Actividades</h2>
  <div class="field">
    <%= label_tag(:q, "Buscar proyectos:") %>
    <%= text_field_tag(:q) %>
  </div>
  <div class="small-12 columns">
    <h2>Actividades</h2>
  </div>
  <div class="small-4 columns">
    <h4>Por Hacer</h4>
    <div id="grid_here" >
      <div class="wishList-items">
        <ul>
        <% @collection = Activity.find_by_sql(["select * from activities where status = 'por hacer'"]) %>
          <% @collection.each do |item|%>
          <%= content_tag(:li, item.activity_name) %>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
  <div class="small-4 columns">
    <h4>Haciendo</h4>
    <div id="grid_here" >
      <div class="wishList-items">
        <ul>
          <ul>
        <% @collection = Activity.find_by_sql(["select * from activities where status = 'haciendo'"]) %>
          <% @collection.each do |item|%>
          <%= content_tag(:li, item.activity_name) %>
          <% end %>

        </ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="small-4 columns">
    <h4>Hecho</h4>
    <div id="grid_here" >
      <div class="wishList-items">
        <ul>
            <% @collection = Activity.find_by_sql(["select * from activities where status = 'hecho'"]) %>
          <% @collection.each do |item|%>
          <%= content_tag(:li, item.activity_name) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>


