<div class="small-12 columns">
     <p>
      <strong>Nombre:</strong>
      <%= @activity.activity_name %>
    </p>
</div>
<div class="small-12 columns">
     <p>
      <strong>Fecha de inicio:</strong>
      <%= @activity.start_date %>
      </p>

</div>

<div class="small-12 columns">
     <p>
        <strong>Fecha de termino:</strong>
        <%= @activity.end_date %>
      </p>
</div>

<div class="small-12 columns">
  <p>
  <strong>Responsables:</strong>
  <%= @activity.responsibles %>
</p>
</div>










<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
